<h1>How Google crawls Angular - About</h1>
<p>
  {{aboutContent}}
</p>
<p>Content defined in the .ts file and added to the aboutContent variable in the template.</p>
<ul>
  <li>this.seoService.setTitle('How Google crawls Angular - About | TIWed Inc.');</li>
  <li>this.seoService.setMetaDescription('About the site that tests how Google crawls Angular - A site by TIWed Inc. that tests the ins and outs of how Google crawls Angular sites.');</li>
  <li>this.seoService.setCanonicalLink('http://www.tiwedinc.com/about');</li>
  <li>this.seoService.setMetaRobots('index');</li>
</ul>
