<h1>How Google crawls Angular - Contact</h1>
<p>
  This is the contact page of the test site to see how Google crawls Angular sites.  We don't actually want you to contact us so we haven't included anything on this page to let you contact us.  
</p>
<p>Hard Coded content in the html template.</p>
<ul>
  <li>this.seoService.setTitle('How Google crawls Angular - Contact | TIWed Inc.');</li>
  <li>this.seoService.setMetaDescription('Contact the people that built the site that tests how Google crawls Angular - A site by TIWed Inc. that tests the ins and outs of how Google crawls Angular sites.');</li>
  <li>this.seoService.setCanonicalLink('http://www.tiwedinc.com/contact');</li>
  <li>this.seoService.setMetaRobots('index');</li>
</ul>
