<h1>How Google crawls Angular - Events</h1>
<p>
  {{eventContent}}
</p>
<p>Content defined in the .ts file and added to the eventContent variable in the template.</p>
<ul>
  <li>this.seoService.setTitle('How Google crawls Angular - Events | TIWed Inc.');</li>
  <li>this.seoService.setMetaDescription('Events that include the site that tests how Google crawls Angular - A site by TIWed Inc. that tests the ins and outs of how Google crawls Angular sites.');</li>
  <li>this.seoService.setCanonicalLink('http://www.tiwedinc.com/events');</li>
  <li>this.seoService.setMetaRobots('index');</li>
</ul>